<!-- Aula 33 -->
<p fundoAmarelo>
    Texto com fundo amarelo.
</p>
<button fundoAmarelo>
    Botão com fundo amarelo
</button>

<hr>

<!-- Aula 34 -->
<p highlightMouse>
    Texto com highlight quando passo o mouse.
</p>

<!-- Aula 35 -->
<p highlight [defaultColor]="'gray'" [highlightColor]="'red'">
    Texto com highlight com cores customizadas.
</p>
<!-- <p [highlight]="'red'" [defaultColor]="'gray'">
    Texto com highlight com cores customizadas.
</p> -->

<!-- Aula 36 -->
<div *ngIf="mostrarCursos">
    Lista de Cursos
</div>
<div *ngElse="mostrarCursos">
    Não existem cursos para serem listados
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br>
<ng-template [ngIf]="mostrarCursos">
    Lista de Cursos
</ng-template>
<ng-template [ngElse]="mostrarCursos">
    <div>
        Não existem cursos para serem listados
    </div>
</ng-template>