<!-- Aula 33 -->
<app-diretivas-customizadas></app-diretivas-customizadas>

<!-- Aula 32 -->
<!--<app-exemplo-ng-content>
    <div class="titulo">Título</div>
    <div class="corpo">Conteúdo</div>
    <div class="corpo">Conteúdo</div>
</app-exemplo-ng-content> -->
<!-- <app-exemplo-ng-content>
    Conteúdo passado para o componente.
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->

<!-- Aula 31 -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- Aula 30 -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<!-- Aula 29 -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->

<!-- Aula 28 -->
<!--
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
-->

<!-- Aula 27 -->
<!--<app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- Aula 26 -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->

<!-- Aula 25 -->
<!-- <app-diretiva-ngif></app-diretiva-ngif> -->

<!-- Aula 15 -->
<!--
<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>
-->

<!-- Aulas sobre Data Binding
<app-data-binding></app-data-binding>
-->
